<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ezenfunding">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="Ezen Funding"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".mypage"></activity>
        <activity android:name=".login" />
        <activity android:name=".user_w_kb_nocticecontent" />
        <activity android:name=".user_w_kb_nocticeboard" />
        <activity android:name=".user_m_ht_projects_list" />
        <activity android:name=".user_m_ht_projects_detail" />
        <activity android:name=".user_m_ht_category_menu" />
        <activity
            android:name=".splash1"
            android:theme="@style/splashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".Page1"/>
        <activity android:name=".Page2"/>
        <activity android:name=".Page3"/>
        <activity android:name=".Page4"/>

    </application>

</manifest>