@mixin controlbutton{
        height : 25px;
        width : 60px;
        background-color: orange;
        border-radius: 4px;
        border : none;
        margin-bottom : 5px;
        color : white;
        font-weight: bold;
        cursor : pointer;
        font-size: 14px;
}
$defaltColor : #D8D8D8;
.control{
    &__delete{
        @include controlbutton();
    }
    &__title{
        font-size : 25px;
        margin : -10px 0 50px 0;
    }
    &__visual-num{
        height : 25px;
        width : 100px;
        margin : 0 5px 0 1000px;
        cursor : pointer;
    }
    &__upload{
        @include controlbutton();

    }
    &__down{
        @include controlbutton();
    }
}
.content{
    width : 1300px;
    height : 450px;
    border-collapse: collapse;
    border: 1px solid $defaltColor;
    background-color : white;
    tr{
        border : 1px solid $defaltColor;
    }
    tr:nth-child(2n){
        background-color: #F2F2F2;
    }
    td{
        border : 1px solid $defaltColor;
        text-align : center;
    }
    td:nth-child(4n){
        width : 300px;
    }
    td:nth-child(5n){
        width : 100px;
    }
    &__choice{
            &--checkbox{
                display : none;
            }
            &--div{
                height : 15px;
                width : 15px;
                position : relative;
                left : 15px;
                border : 1px solid gray;
                border-radius: 8px;
                cursor : pointer;
            }
            &--img{
                height : 16px;
                width : 16px;
                position : absolute;
                top : 119px;
                left : 16px;
                display: none;
            }
    }
    tr:nth-child(1){
        height : 50px;
    }
    &__thumbnail{
        width : 400px;
    }
}
.modal{
    background-color: rgba(18,18,18,0.5);
    position : fixed;
    top : 0px;
    left : 0px;
    height : 1000px;
    width : 1920px;
    z-index : 1;
    &__content{
        &--header{
            background-color: orange;
            height : 72px;
        }
    }
    &__main{
        background-color: white;
        height : 600px;
        width : 1000px;
        margin : auto;
        margin-top : 20px;
    }
    &__title{
        &--admin{
            color : white;
            font-size: 25px;
            display: inline;
            position : relative;
            top : 20px;
            left : 20px;
        }
        &--user{
            height : 20px;
            width : 920px;
            position : absolute;
            top : 500px;
            font-size : 20px;
            padding : 10px;
            border: 1px solid #A4A4A4;
            background-color: #F2F2F2;
        }
        &--user::placeholder{
            font-size: 15px;
            padding : 0px 0 2px 5px;
        }
        &--user:focus{
            background-color: white;
        }
    }
    &__exit{
        font-size: 20px;
        color : white;
        display: inline;
        position : relative;
        top : 15px;
        left : 865px;
        cursor : pointer;
    }
    &__image{
        &--before{
            margin : 70px 0 0 25px;
            width : 94%;
            height : 300px;
            background-color: #F2F2F2;
            &-text{
                font-size: 30px;
                color : black;
                position : relative;
                bottom : 200px;
                left : 340px;
            }
        }
        &--after{
            margin : 50px 0 0 25px;
            height : 250px;

        }
        &--display-none{
            display : none;
        }
        &--button{
            background-color: orange;
            height : 18px;
            width : 65px;
            text-align: center;
            border-radius: 4px;
            font-size: 15px;
            padding : 7px;
            cursor: pointer;
            position: absolute;
            top : 430px;
            left : 1345px;
        }
    }
    &__submit{
        position : absolute;
        top : 570px;
        border-top : 1px solid gray;
        width : 100%;
        display: block;
        &--button{
            background-color: orange;
            height : 30px;
            width : 75px;
            margin : 10px 0 0 885px;
            border-radius: 4px;
            font-size: 15px;
            padding : 7px;
            cursor: pointer;
            border : none;
            color : white;
        }
    }
}
.text-position{
    border-collapse: collapse;
    border : 1px solid black;
    width : 80px;
    height : 80px;
    display: inline-table;
    margin-right : 20px;
    tr,td{
        border-collapse: collapse;
        border : 1px solid black;
    }
}