* {
    font-family: 'Nanum Gothic', sans-serif;
  }

#access{
margin: 0px;
width: 760px; 
height: 140px;
overflow-x: hidden; 
overflow-y: auto;   
}

#root{
    text-align: center;
}

#button{
    width: 150px;
    height: 50px;
    background-color: #dc7f0d;
    color:white;
    text-align: center;
    cursor: pointer;
    margin-right: 20px;
    border:none;
    font-weight: bold;
}
