

#root{
    text-align: center;

}

#text{
    margin-right: 10px;
}

.phone{
    width:40px;
}

#id{
    ime-mode:disabled;
}
td{
    height:70px;
  
}
#submit{
    
    width:160px;
    height:60px;
    background-color: #dc7f0d;

}

.box{
    width:200px;
    height:200px;
    border-radius: 70%;
    background-color: blueviolet;
}

.frofile{
    overflow:hidden;
}