#root{
    width:1000px;
    margin:auto;
}



#side{
    width:250px;
    height:720px;
    float: left;
    

}

#main{
    width: 750px;
    height:720px;
    float: left;
    text-align: center;

}
#proPhoto{

    top:20%;
    left:30%;
    position: absolute;
    
}

#profile{
    width:180px;
    height:180px;
    top:20%;
    left:30%;
    position: absolute;
    border-radius: 50px;
}

.menu{
    list-style-type:none;
    border:1px solid rgb(204, 155, 20);
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;

}

li{
    list-style-type: none;
    text-decoration: none;
    
}

.list{
    display:block;
    line-height: 75px;
    margin: 0px;
    padding:30px;
    background-color: rgb(201, 135, 55);
    text-align: center;
    

}

a{
    text-decoration: none;
    display:inline-block;
}

table{
    text-align: left;
    margin: 0 auto;
}

td{
    margin-top: 10px;
    height:70px;
}
#font{
    display: block;
    
}

#passBtn{
    width:200px;
    height:40px;
    background-color: #dc7f0d;
    color:white;
    cursor: pointer;
    text-align: center;
    font-size:large;
    border:none;
    font-weight: bold;
}

#bank{
    width:80px;
}

#category{
    width:80px;
}

#bank{
    width:80px;
    height:30px;
}
#modify{
    width:150px;
    height:30px;
}

#address{
    width:230px;
    height:30px
}

.modBtn{
    width:100px;
    height:35px;
    background-color: #dc7f0d;
    color:white;
    cursor: pointer;
    text-align: center;
    font-size:large;
    border:none;
    font-weight: bold;
}

#nonmod{
    background-color:rgb(189, 186, 186);
    width:230px;
    height:30px;
}

#finBtn{
    width:300px;
    height:50px;
    background-color: #dc7f0d;
    color:white;
    cursor: pointer;
    text-align: center;
    font-size:large;
    border:none;
    font-weight: bold;
}
