<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>프로젝트 승인</title>
    <link rel="stylesheet" href="admit_project.css">
</head>
<body>
    <main>
        <h1>프로젝트 승인</h1>
        <section class="section_head">
            <select class="type">
                <option value="#">리워드</option>
                <option value="#">투자</option>
            </select>
            <select class="category">
                <option value="#">IT</option>
                <option value="#">패션</option>
                <option value="#">가전</option>
            </select>
            <input type="text" name="" id="" placeholder="검색어">
            <a href="#"><i>검색</i></a>
        </section>
        <section class="section_content">
            <h3>승인을 기다리는 프로젝트</h3>
            <ul>
                <li class="first">
                    <div>분류</div>
                    <div>카테고리</div>
                    <div>프로젝트명</div>
                    <div>메이커</div>
                    <div>상세보기</div>
                </li>
                <li>
                    <div>리워드</div>
                    <div>IT</div>
                    <div>지능형 스피커</div>
                    <div>helloman</div>
                    <div><button>상세보기</button></div>
                </li>
                <li>
                    <div>리워드</div>
                    <div>IT</div>
                    <div>무선 청소기</div>
                    <div>byebye</div>
                    <div><button>상세보기</button></div>
                </li>
                <li>
                    <div>리워드</div>
                    <div>가전</div>
                    <div>휴대폰 거치대</div>
                    <div>kccop</div>
                    <div><button>상세보기</button></div>
                </li>
                <li>
                    <div>투자</div>
                    <div>펀드</div>
                    <div>고수익 펀드</div>
                    <div>wowgoood</div>
                    <div><button>상세보기</button></div>
                </li>
            </ul>
        </section>
        <section class="pagenation">
            <ul>
                <li>«</li>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li>»</li>
            </ul>
        </section>
    </main>
</body>
</html>