body{
    margin:0;
    padding:0;
    background-color: #f6f9fc;
}

main{
    padding-left:15%;
    padding-right:15%
}

#kb_title{
    text-align:center;
    margin-top:14%;
}

td{
    text-align:center;
}

.Content_Td{
    text-align: center;
    
}