body{
    margin:0;
    padding:0;
    background-color:#f6f9fc;
}


main{
    padding-left:20%;
    padding-right:20%;
    text-align:center;
}

#Title{
    margin-top:17%;
}



button{
    width:60px;
    height:30px;
    background-color:#dc7f0d;
    border:0;
    border-radius: 10px;
    color:white;
}

#kb_BtnDiv{
    text-align: right;
    margin-right:4.5%;
}

#kb_pagination{
    margin-left:45%;
}