@import './jquery-ui.css';

.none{
    display:none !important;
}

.make_reward{
    display:flex;
    width:100%;
    min-height: 500px;
    border:solid;
}

.make_reward>.column_left{
    width:20%;
    border-right:solid gray 1px;
    display:flex;
    flex-wrap: wrap;
}

.column_left>.navi_menu{
    width:100%;
    position: relative;
    left:5%;
    top:20%;
}

.column_left>.navi_menu>.navi_menu_title{
    font-size:30px;
}

.column_left>.navi_menu>.navi_menu_list>li{
    margin-bottom: 10px;
    font-size:20px;
    margin-left:30px;
}

.make_reward>.column_right{
    width:60%;
    position: relative;
    display:flex;
    flex-wrap:wrap;
    left:10%;
}

.make_reward>.column_right>form.basic_form{
    width:100%;
}

.column_right .basic_form>.basic_information{
    display: flex;
    flex-wrap: wrap;
}

.basic_information>.title_length_indicator{
    margin-left:10px;
    padding-top:5px;
    font-size:20px;
}

.make_reward>.column_right input[type=text]{
    width:70%;
    border:solid 1px;
    height:30px;
    margin:5px 0 22px 0;
}

.thumbnail_drop_box{
    position: relative;
    width:200px;
    height:200px;
    margin-left: 10px;
    background-image: url(./upload.png);
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: 50%;
    border:solid 2px;
}

.thumbnail_drop_box>div.delete{
    background-color: rgba(0,0,0,0.3);
    width:100%;
    height:100%;
    position: absolute;
}

.thumbnail_drop_box img.close_icon{
    cursor: pointer;
    position:relative;
    left:83%;
    top:1%;
}

.thumbnail_drop_box .thumbnail_file_name{
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: snow;
    cursor: default;
    top:60%;
    width:100%;
}

.keyword_bar{
    border:solid;
    background-color: #f6f9fc;
    display:flex;
    flex-wrap: wrap;
    cursor: text;
}

.keyword_bar span{
    margin-right:4px;
    margin-left: 3px;
    margin-top:5px;
    margin-bottom: 3px;

    border-radius: 10px;
    padding-left:6px;
    color:white;
    background-color: #dc7f0d;
    line-height: 25px;
    height:25px;
    
}

.remove_keyword_button:after{
    content:'X';
    background-color: rgba(0,0,0,0.1);
    border-radius: 50%;
    font-size:13px;
    padding-left:6px;
    padding-right: 6px;
    cursor: pointer !important;
}

#project_key_words{
    background: transparent;
    margin-top:-3px;
    font-size:16px;
    border:none;
    width:auto;
    box-sizing: inherit;
    width:20%;
    height: 30px;
    margin:0 0 0 0;
    outline: none;
}

.column_right .basic_form>.story_information{
    display: flex;
    flex-wrap: wrap;
}


body{
    background-color: #f6f9fc;
    font-family:sans-serif;
}

.loading_page {
    position: absolute;
    left:50%;
    top:50%;
    margin-top: -30px;
    margin-left: -30px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #000000;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 0.5s linear infinite; /* Safari */
    animation: spin 0.5s linear infinite;
    }

    /* Safari */
    @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
    }

    @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
    }